.back-img {
    background-image: url('https://cloud.appwrite.io/v1/storage/buckets/672a1e700037c646954e/files/67461d87002e59223e6e/view?project=672a1dc2000b4396bb7d&project=672a1dc2000b4396bb7d&mode=admin');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: blur(.1px); 
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
}
