

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-image: url('https://cloud.appwrite.io/v1/storage/buckets/672a1e700037c646954e/files/6743fd670031010a0f92/view?project=672a1dc2000b4396bb7d&project=672a1dc2000b4396bb7d&mode=admin');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}